################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/azureTestApp/.vs/azureTestApp
/azureTestApp/azureTestApp/obj
